.price-card {
  width: 1440px;
  height: 1000px;
  margin: auto;
  background-color: #141b1c;
  display: flex;
  justify-content: center;
  align-items: center;

  

  &__container {
    max-height: 770px;
    max-width: 380px;
    background-color: #334247;
    margin: 115px 9px;
    overflow: hidden;
  }

  &__popular {
    position: relative;

    &-text {
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      background-color: #dc3f45;
      font-size: 14px;
      font-weight: 700;
      width: 147px;
      height: 25px;
      line-height: 25px;
      
      top: 31px;
      right: -30px;
      transform: rotate(45deg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    margin: 33px 0px 0px 0px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
  }

  &__cheap,
  &__medium,
  &__expensive {
    margin: 0;
    margin-top: 33px;
    padding: 19px 110px;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
  }

  &__cheap,
  &__btn-green {
    background-color: #5bb189;
  }

  &__medium,
  &__btn-blue {
    background-color: #3a6ba5;
  }

  &__expensive,
  &__btn-orange {
    background-color: #ec632a;
  }

  &__description {
    margin: 40px 26px 0px 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  &__content {
    margin: 40px 0px 0px 0px;
    padding: 0;
    list-style-type: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    &-item {
      padding: 16px 21px 16px 22px;

      &:nth-child(odd) {
        background-color: #2a3438;
      }

      &-checkmark {
        padding-right: 22px;
      }
    }
  }

  &__btn-green,
  &__btn-blue,
  &__btn-orange {
    margin: 40px 112px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 11px 27px;
    cursor: pointer;
  }
}
