.header {
  background-color: darkturquoise;
  height: 40px;
  color: white;
  line-height: 2.5;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  
}


.nav-list {
  margin: 0;
  height: 40px;
}

.nav-item {
  display:inline-block;
}
.nav-item:first-child {
  margin-left: 16px;
}

.nav-item:nth-child(2) {
  margin-left: 12px;
}

.nav-item:last-child {
  margin-left: 12px;
}

.content {
  height: 5000px;
  background-color: beige;
}

.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 100px);
}

.ear {
  position: relative;
  height: 60px;
  width: 40px;
  background-color: brown;
  
  bottom: 60px;
}

.ear_right {
  float: right;
  left: 40px;
}

.ear_left {
  float: left;
  right: 40px;
}

.eye {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  top: 80px
}

.eye_right {
  float: right;
}

.eye_left {
  float: left;
}