* {
  box-sizing: border-box;
}

.navigation {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
}

.product_list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;

}

.item {
  display: flex;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

.container {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (min-width: 600px) {
  .tablet_view {
      display: flex;
  }
  .navigation, .product_list {
      width: 50vw;
  }
}

@media screen and (min-width: 900px) {

  .container {
    display: flex;
  }

  .navigation, .product_list, .news {
      width: calc(100vw /3);
  }
}
