.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.1);
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
